[Unit]
Description = collator metrics exporter

[Service]
ExecStart = /usr/local/bin/start-collator-metrics-exporter.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
